<nav>
    <button onclick="backMenu()">&#x2190;</button>
    <h5 id="productName">About</h5>
 </nav>
 <p>Icons (loading and star icon) made by <a href="https://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
 <p id="author">Designed and developed by Amon T. B. da Silva</p>
 <canvas></canvas>
 <p id='copyright'>&copy; Copyright to Amon T. B. da Silva</p>